.cursor{
    cursor: pointer;
    color: white !important;
    text-decoration: none;
}

.text-decorator-none{
    text-decoration: none;
}
.coricone{
    color: white !important;
    width: 30px;
    height: 30px;
    text-decoration: none;
}
.estilo{
    background: #001d3d;
    background-Image: '#001d3d';
}