.cursor{
    cursor: pointer !important;
    letter-spacing: 20rem !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.text-decorator-none{
    text-decoration: none;
}
.vagalume{
    background: #001d3d !important;
}
.barra{
    width: 20px !important;
}
.corlogo{
    text-decoration: none
}
