.textoscomponents{
    font-weight: bold !important;
    font-weight: bold !important;
    color: white !important;
    border: 1px solid black;
    background-color: #001d3d !important;
    padding: 10px;
    
}
.imagem1{
    background-image: url(https://tinypic.host/images/2023/03/03/pexels-ekaterina-belinskaya-4700398.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;

}


.text-decorator-none{
    text-decoration: none;
}

.cadastrarusuario{
    font-weight: bold !important;
    color: black !important;
}
.btnentrar{
    background: #001d3d !important ;
}
.imgentrar{
    background-image:url(https://cdn.discordapp.com/attachments/1064895158736408576/1080957066216231032/e1d8874426937c68f94de6912ff0b2c2-removebg-preview.png);
    width: 20px;
    height: 20px;
}
.estilo 
{
    background: #13eb8d;
}
.texto
{
    font-weight: bold !important;
    color: #0956C4   !important; 
}
.texto2
{
    color: #001d3d !important ;
    
}
.fundo
{

    background: #1B96CC  !important  ;
}