.box1{
    background: #02c39a;
    height: "120px";
    color:white !important;
}
.box2{
background-color: #001d3d !important;
color: white !important;

}

.redes{

    font-size: 60px !important;
    color: white !important;
}
.textos{
    color: white !important;
}