.corlogo{
    color: white;
    width: 30px;
    height: 30px;
    text-decoration: none
}
.caixa{
    background: #02c39a;
    background: #02c39a;
}
.titulo{
    color: white !important;
    font-weight: bold !important;

}
.botao1{
    border-color: white !important;
    background-color:#001d3d !important;
    color: white !important;
}
.botao2{
    border-color: white !important;
    background-color: #001d3d !important;
    color: white !important;
}
.foto{
    background-image: url(https://media.giphy.com/media/StWs9iYidDmIEjWvmh/giphy.gif);
    height: 60px;
    width: 60px;
}
