.caixa{
    background: #001d3d ;
    background: #001d3d ;
}
.titulo{
    color: #1B96CC !important; 
    font-weight: bold !important;
    

}
.botao1{
    border-color: white !important;
    background-color:#001d3d !important;
    color: white !important;
}
.btnModal{
    border-color: white !important;
    background-color:#001d3d !important;
    color: white !important;
    width: 160px;
    height: 90px;
}
.foto{
    background-image: url(https://media.giphy.com/media/StWs9iYidDmIEjWvmh/giphy.gif);
    height: 60px;
    width: 60px;
}
